
body {
  background-color: #f5f5f5;
}

.form-signin {
    margin: auto;;
    margin-top: 5rem;
    max-width: 430px;
}

.form-label-group {
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: 1rem 1rem;
}
